-- ============================================================
-- Run this SQL in your Supabase SQL Editor
-- Function: verify_passport_wealth
-- ============================================================

CREATE OR REPLACE FUNCTION verify_passport_wealth(
  p_passport_id text,
  p_category text,
  p_min_value numeric
) RETURNS boolean
LANGUAGE plpgsql
SECURITY DEFINER -- This allows the function to bypass RLS securely
AS $$
DECLARE
  v_user_id uuid;
  v_total numeric;
BEGIN
  -- 1. Find the user_id for the given passport_id
  SELECT user_id INTO v_user_id
  FROM public.passports
  WHERE passport_id = p_passport_id;

  -- If passport doesn't exist, fail verification
  IF v_user_id IS NULL THEN
    RETURN false;
  END IF;

  -- 2. Calculate wealth based on category
  IF p_category = 'ALL' THEN
    -- Use the grand_total stored in the passport
    SELECT grand_total INTO v_total
    FROM public.passports
    WHERE user_id = v_user_id;
  ELSE
    -- Sum specific category from verified assets
    SELECT COALESCE(SUM(current_value_usd), 0) INTO v_total
    FROM public.assets
    WHERE user_id = v_user_id
      AND asset_category = p_category
      AND ownership_status = 'VERIFIED';
  END IF;

  -- 3. Return true if wealth meets or exceeds the minimum requirement
  RETURN COALESCE(v_total, 0) >= p_min_value;
END;
$$;
